@page "/"

<body>
    <div class="container my-5">
        <div class="GL-Title">
            О ЖУРНАЛЕ КУРАТОРА
        </div>

        <div class="ChiefBlock">
            <div class="ChiefColumnLeft">
                <img class="ChiefPhoto" src="img/main/zaiddd.jpg" alt="" />
                <p class="Text" style="text-align: center; font-size:20px;">Мингалиев<br>Заид Зульфатович</p>
            </div>

            <div class="ChiefColumnRight">
                <p class="Title" style="margin-top: 18px;">Создатель</p>
                <span class="Text">
                    "Журнал куратора разработан целью упрощать и совершенствовать работу кураторов КНИТУ-КАИ им. А.Н. Туполева. Проект разработан с фокусом на оптимизацию процессов управления учебными группами и повышение эффективности мониторинга успеваемости студентов.
                    В настоящий момент мы с командой стремимся и дальше совершенствовать "Журнал куратора". Основные цели — расширение функциональности, обеспечение более интуитивного и удобного пользовательского опыта, адаптация к различным потребностям кураторов и студентов."
                </span>
            </div>
        </div>

        <div class="ChiefBlock">
            <div class="ChiefColumnRight">
                <span class="Text">
                    Журнал Куратора представляет собой документацию, в которой куратор фиксирует важные события и данные по каждому студенту или группе студентов.
                    Это может включать информацию о посещаемости, активности студентов,
                    влияющие на их адаптацию и успехи в учебе.
                </span>
            </div>
        </div>

        <div class="GL-PodTitle">
            ОСНОВНЫЕ ФУНКЦИИ
        </div>

        <div class="Functions">
            <div class="Fun1">
                <div class="Blue"></div>
                <div class="FunInfo">
                    <p class="FunTitle1">
                        Доступ к информации о группе
                    </p>
                    <ul style="padding-left: 50px;">
                        <li style="padding-bottom: 10px;">Просмотр списка студентов в группе с контактной информацией.</li>
                        <li style="padding-bottom: 10px;">Возможность добавления, редактирования и удаления данных о студентах.</li>
                    </ul>
                </div>
            </div>

            <div class="Fun2">
                <div class="Blue"></div>
                <div class="FunInfo">
                    <p class="FunTitle2">Управление мероприятиями и мероприятия для группы</p>
                    <ul style="padding-left: 50px;">
                        <li style="padding-bottom: 10px;">Организация и управление мероприятиями, такими как семинары, вебинары, конференции, фестивали и другие важные события.</li>
                        <li style="padding-bottom: 10px;">Возможность регистрации студентов на мероприятия и отслеживание участия.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>